@import "style.css";

body{
    margin: 0;
}

.cardlink a{
    text-decoration: none !important;
    color: black !important;

}
.cardlink a:hover{
    color: var(--cardlinkColor) !important;
}

.card{
    background-color: var(--bacgroundcolor);
    color: var(--primaryColor);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    /* height: 30%; */
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.card-brand img{
    height: 30px;
    
}

.card-img-top{
    height: 280px;
    object-fit: contain;
    border-radius: 10px;

}

.banner{
    position: relative;
    
}

.banner img{
    max-width: 100%;
}

.banner img:nth-child(2){
    position: absolute;
    bottom: 15px;
    right: 15px;
    max-width: 30%;
    object-fit: contain;
    animation-name: banner-scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;    
}

.list-group{

    max-width: 100%;

}


@keyframes banner-scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
@media screen and (max-width: 1000px) {
    .card{
        width: 45%;
    }
    .list-group{

        max-width: 70%;
    
    }
  }
  @media screen and (max-width: 770px) {
    .card{
        width: 100%;
    }
  }

