@import 'style.css';

.signinpage{
    margin: 0;
    display: flex;
    width: 100vw;
    height: calc(100vh - 63.28px);
    align-items: center;
    justify-content: space-around;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home div{
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'Lora', serif;
    font-size: large;
    border: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signin{
    font-family: 'Lora', serif;
    font-size: x-large
    

}

.loginbutton{
    display: flex;
    justify-content: space-around;

}