@import 'style.css';

.signinpage{
    margin: 0;
    display: flex;
    width: 100vw;
    height: calc(100vh - 63.28px);
    align-items: center;
    justify-content: space-around;
    background: #e7e7e7;

}

.home div{
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'Lora', serif;
    font-size: large;
    border: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signin{
    font-family: 'Lora', serif;
    font-size: x-large
    

}

.loginbutton{
    display: flex;
    justify-content: space-around;

}


.navbar{
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    border-radius: 0;
    font-family: 'Lora', serif;
    font-size: large;
    border: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.navbar{

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}