:root{
    --backgroundcolor: #ffffff;
    --primaryColor: #000000;
    --secondaryColor: #b39032;
    --cardlinkColor: #295699;
}

body{
    background-color: var(--bacgroundcolor);
    
}

.navbar{

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}
